<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Mobile Recharge</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mobile Number</ion-label>
      <ion-select [(ngModel)]="mobilenumber">
        <ion-option value={{mobile.id}} *ngFor="let mobile of allMobileNumbers">{{mobile.mobilenumber}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Type</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-option value="Calling">Calling</ion-option>
        <ion-option value="Internet">Internet</ion-option>
        <ion-option value="Special">Special</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Date</ion-label>
      <ion-datetime displayFormat="DD-MMM-YYYY HH:mm" pickerFormat="DD-MMM-YY HH:mm" [(ngModel)]="logdate"></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="isMobileNumberAdded">
  <ion-toolbar color="primary">
    <ion-buttons style="text-align: center;width: 100%;">
      <button style="width: 100%" ion-button tappable (click)="onClickAddMobileRecharge()">
          Add
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
