<ion-header>
  <ion-navbar color="primary">
    <ion-title>Vehicle Logs</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-30 style="text-align: center;">
        <ion-item>
          <ion-label stacked>Records</ion-label>
          <ion-select [(ngModel)]="recordLimit">
            <ion-option value={{record.limit}} *ngFor="let record of arrayRecords">{{record.limit}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col width-70 style="text-align: center">
        <ion-item>
          <ion-label stacked>Vehicle</ion-label>
          <ion-select [(ngModel)]="filterVehicle">
            <ion-option value={{vhl.name}} *ngFor="let vhl of arrayVehicles">{{vhl.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item-sliding #item *ngFor="let vl of vehicleLogs">
      <button ion-item>
        {{vl.vehiclename}}
        <h3 style="color:darkgray">{{vl.name}}</h3>
        <h3 style="color:slategray">{{vl.oddometer}}</h3>
        <h3 style="color:slategray">₹ {{vl.amount}} - {{vl.liters}} ltrs</h3>
        <h6 item-right style="font-size: 12px;">{{vl.logdate}}</h6>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="onClickDeleteVehicleLog(vl.id)">
          <ion-icon name="trash"></ion-icon>
            Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
